.good-company.text-center
  .font-38= t ".good_company"
  %br
  %br
  %br
  .row-1
    = image_tag('/assets/Thoughtworks.png')
    = image_tag('/assets/Avanade.png')
    = image_tag('/assets/Comparethemarket.png')
  %br
  %br
  %br
  .row-2
    = image_tag('/assets/Toptable.png')
    = image_tag('/assets/BBC.png')
    = image_tag('/assets/itv.png')
