.contact-box-1
  %p{:class => "font-38"}= content_item("Contact", "contact_us")
.contact-box-2
  .row
    .col-md-4.contact-info
      .circle-image
        = image_tag('/assets/Phone.png', :size => "38x38")
      .info
        %p.one-line= Constants::TELL
    .col-md-4.contact-info
      .circle-image
        = image_tag('/assets/Email.png', :size => "38x38")
      .info
        %p.one-line= Constants::EMAIL    
  = simple_form_for(Message.new, :html => {"data-validate" => "parsley", class: 'form-horizontal' }) do |f|
    .row.mt-90
      .col-md-4
        .custom-placeholder
          = f.label :name, t(".name")
          = f.text_field :name, :class => "form-control mb-15 required", :autofocus => true
      .col-md-4
        .custom-placeholder
          = f.label :email, t(".email")
          = f.text_field :email, :class => "form-control mb-15 required", :type=>"email"
      .col-md-4
        .custom-placeholder
          = f.label :phone, t(".phone")
          = f.text_field :phone, :class => "form-control mb-15"
    .row.mt-30.mb-30
      .col-md-12
        .custom-placeholder
          = f.label :content, t(".content")
          = f.text_area :content, :rows => 5, :class => "form-control required"
    = f.submit t(".submit"), :class => "btn"
.contact-box-3
  %p.font-38= t(".our_team")
  .our-team
    .col-md-6.member
      .member-avatar
        = image_tag('/assets/Left_Person.png', :size => "100x100")
      .member-info
        %p.text-bold.font-24= t(".member1_name")
        %p.text-blue= t(".member1_description")
        .contact
          %a{:href=> "https://www.linkedin.com/in/majikandy"}
            %span.icon.icon-small-in
          %span.icon.icon-small-twitter
          %span.icon.icon-small-email
    .col-xs-6.member
      .member-avatar
        = image_tag('/assets/Right_Person.png', :size => "100x100")
      .member-info
        %p.text-bold.font-24= t(".member2_name")
        %p.text-blue= t(".member2_description")
        .contact
          %a{:href=> "https://www.linkedin.com/pub/dermot-kilroy/8/879/516"}
            %span.icon.icon-small-in
          %a{:href=> "http://twitter.com/dermotkilroy"}
            %span.icon.icon-small-twitter
          %span.icon.icon-small-email

