.homepage-box-1
  .col-xs-5.font-white
    .ml-155.mt-100
      %h1
        %b= homepage_item('main_title_text')
      %p
        %span.icon.icon-tick
        %span= homepage_item('benefit_1')
      %p
        %span.icon.icon-tick
        %span= homepage_item('benefit_2')
      %p
        %span.icon.icon-tick
        %span= homepage_item('benefit_3')
      %p
        %span.icon.icon-tick
        %span= homepage_item('benefit_4')
      %br
      =link_to(contact_url, {:class => 'btn main-call' }) do 
        %span.icon.icon-request
        %b= homepage_item('free_trial_button')
  .col-xs-7
    .mt-100
      %img{:src => '/assets/Take_Tour.png'}
.h-500.text-center
  %p.font-38.pt-75.mb-70= homepage_item('bad_hire_title')
  .bad-hire
    .bad-hire-step
      .colons-div
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
      %b.icon.icon-base.text-center= 1
      %span.font-18= t ".bad_hire1"
    .bad-hire-step
      .colons-div
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
      %b.icon.icon-base.text-center= 2
      %span.font-18= t ".bad_hire2"
    .bad-hire-step
      .colons-div
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
      %b.icon.icon-base.text-center= 3
      %span.font-18= t ".bad_hire3"
    .bad-hire-step
      .colons-div
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
      %b.icon.icon-base.text-center= 4
      %span.font-18= t ".bad_hire4"
    .bad-hire-step.text-red
      %b.icon.icon-bad-hire
      %b.font-20= t ".bad_hire5"
.homepage-box-2.font-white.text-center
  %p.font-38.mb-50
    %span= t ".happy_hire_title"
    %b= t ".happy_hire_steps"
  .good-hire-div-1.mb-70
    %p= t ".happy_hire1"
    .icon.icon-dev.icon-86.has-background
  .div-inline.div-center
    .good-hire-div-2.float-left.text-right
      %span= t ".happy_hire2"
      %span= "&nbsp;&nbsp;".html_safe
      %span.icon.icon-hand-shake.icon-86.has-background
    .happy-hire-div
      .icon.icon-happy-hire
      %p
        %b.font-20= t ".happy_hire5"
    .good-hire-div-2.float-left.text-left
      %span.icon.icon-list.icon-86.has-background
      %span= "&nbsp;&nbsp;".html_safe
      %span= t ".happy_hire3"
  .good-hire-div-1.mt-70.w-260
    .icon.icon-relationship.icon-86.has-background
    %p= t ".happy_hire4"
%br
%br
%br
.h-450.text-center
  %p.font-38= t ".feedback_title"
  .div-inline
    .feedback-div
      %ul.bxslider.feedback-slider
        - dummy_feedback.each do |fb|
          = render partial: "feedback", locals: {feedback: fb,length: 200}
      .outside
        %p
          %span#slider-prev
          %span#slider-next
/= render "good_companies"
%br
%br
%br
.font-38.text-center
  %span
    = t ".more_benefits"
  %strong
    %span.blue-text
      = t ".for_you"
%br
%br
%br
.bad-hire.benefit-section
  %div
    .col-50-percent
      %div
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Referal.png')
        .col-95-percent
          .font-24
            %strong
              = t(".refer")
          .padding-top-10
            = t(".refer_text")
    .col-50-percent.margin-left-30
      %div
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Rapport.png')
        .col-95-percent
          .font-24
            %strong
              = t(".build_rapport")
          .padding-top-10
            = t(".build_rapport_text")
  %br{style: 'clear: both'}
  %br
  %br
  %div
    .col-50-percent
      %div
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent
          .font-24
            %strong
              = t(".collaborate")
          .padding-top-10
            = t(".collaborate_text")
    .col-50-percent.margin-left-30
      %div
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Hire.png')
        .col-95-percent
          .font-24
            %strong
              = t(".hire")
          .padding-top-10
            = t(".hire_text")
%br
%br
%br
%br

