.row.homepage-box-1
  .col-md-1
  .col-md-5.font-white
    .mt-30
      %p.font-36{:style => 'text-align:center'}
        = content_item('Home', 'main_title_text')
    .mt-50
      .benefits
        .font-18
          %span.icon.icon-tick
          %span= content_item('Home', 'benefit_1')
        .font-18
          %span.icon.icon-tick
          %span= content_item('Home', 'benefit_2')
        .font-18
          %span.icon.icon-tick
          %span= content_item('Home', 'benefit_3')
        .font-18
          %span.icon.icon-tick
          %span= content_item('Home', 'benefit_4')
  .col-md-5{:style => 'text-align:center'}
    .mt-50
      %img{:src => '/assets/Take_Tour.png', :width => '400px'}  
      .mt-50
        =link_to(contact_url, {:class => 'btn main-call' }) do 
          %span.icon.icon-request
          %b= content_item('Home', 'free_trial_button')
      .mt-50
  .col-md-1

.h-400.text-center
  %p.font-38.pt-75.mb-70= content_item('Home', 'bad_hire_title')
  .bad-hire
    .bad-hire-step
      .colons-div
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
      %b.icon.icon-base.text-center= 1
      %span.font-18= content_item("Home", "bad_hire_step_1")
    .bad-hire-step
      .colons-div
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
      %b.icon.icon-base.text-center= 2
      %span.font-18= content_item("Home", "bad_hire_step_2")
    .bad-hire-step
      .colons-div
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
      %b.icon.icon-base.text-center= 3
      %span.font-18= content_item("Home", "bad_hire_step_3")
    .bad-hire-step
      .colons-div
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
        %span.icon.icon-colon
      %b.icon.icon-base.text-center= 4
      %span.font-18= content_item("Home", "bad_hire_step_4")
    .bad-hire-step.text-red
      %b.icon.icon-bad-hire
      %b.font-20= content_item("Home", "bad_hire_step_5")
.homepage-box-2.font-white.text-center
  %p.font-38.mb-50
    %span= t ".happy_hire_title"
    %b= t ".happy_hire_steps"
  .good-hire-div-1.mb-70
    %span= content_item("Home", "good_hire_step_1")
    .icon.icon-dev.icon-86.has-background
  .div-inline.div-center
    .good-hire-div-2.float-left.text-right
      %span= content_item("Home", "good_hire_step_2")
      %span= "&nbsp;&nbsp;".html_safe
      %span.icon.icon-hand-shake.icon-86.has-background
    .happy-hire-div
      .icon.icon-happy-hire
      %p
        %b.font-20= content_item("Home", "good_hire_result")
    .good-hire-div-2.float-left.text-left
      %span.icon.icon-list.icon-86.has-background
      %span= "&nbsp;&nbsp;".html_safe
      %span= content_item("Home", "good_hire_step_3")
  .good-hire-div-1.mt-70.w-260
    .icon.icon-relationship.icon-86.has-background
    %p= content_item("Home", "good_hire_step_4")
%br
%br
%br
.h-450.text-center
  %p.font-38= t ".feedback_title"
  .div-inline
    .feedback-div
      %ul.bxslider.feedback-slider
        = render partial: "feedback", locals: {customer: "customer_1",length: 200}
        = render partial: "feedback", locals: {customer: "customer_2",length: 200}
      .outside
        %p
          %span#slider-prev
          %span#slider-next
= render "good_companies"
%br
%br
%br
.font-38.text-center
  %span
    = t ".more_benefits"
  %strong
    %span.blue-text
      = t ".for_you"
%br
%br
%br
.bad-hire.benefit-section
  %div
    .col-50-percent
      %div
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Referal.png')
        .col-95-percent
          .font-24
            %strong
              = t(".refer")
          .padding-top-10
            = t(".refer_text")
    .col-50-percent.margin-left-30
      %div
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Rapport.png')
        .col-95-percent
          .font-24
            %strong
              = t(".build_rapport")
          .padding-top-10
            = t(".build_rapport_text")
  %br{style: 'clear: both'}
  %br
  %br
  %div
    .col-50-percent
      %div
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent
          .font-24
            %strong
              = t(".collaborate")
          .padding-top-10
            = t(".collaborate_text")
    .col-50-percent.margin-left-30
      %div
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Hire.png')
        .col-95-percent
          .font-24
            %strong
              = t(".hire")
          .padding-top-10
            = t(".hire_text")
%br
%br
%br
%br

