-meta title: 'nujob - take the tour'

.tour-box-1.text-center.font-white
  %p.font-38.w-410.div-center
    = content_item('Tour', 'tour_title')
  %br
  = image_tag('/assets/Hero.png')
.tour-box-2.pt-80.text-center
  .row
    %p.font-38
      = content_item('Tour', 'tour_item_1_title')
    %p.font-24.w-680.div-center
      = content_item('Tour', 'tour_item_1_subtitle')
    %br
    %br
    .col-xs-6
      .w-550.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Search.png', :size => "38x38")
        .col-95-percent.text-left
          .font-20
            %strong.text-blue
              = content_item('Tour', 'tour_item_1a_title')
          .padding-top-10
            = content_item('Tour', 'tour_item_1a_text')
      .w-550.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/User.png', :size => "38x38")
        .col-95-percent.text-left
          .font-20
            %strong.text-blue
              = content_item('Tour', 'tour_item_1b_title')
          .padding-top-10
            = content_item('Tour', 'tour_item_1b_text')
      .w-550.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Link.png', :size => "38x38")
        .col-95-percent.text-left
          .font-20
            %strong.text-blue
              = content_item('Tour', 'tour_item_1c_title')
          .padding-top-10
            = content_item('Tour', 'tour_item_1c_text')
    .col-xs-6
      .div-inline.pull-left.tour-slider
        %ul.tour-bxslider
          %li
            = image_tag("/assets/My_team_1.png")
          %li
            = image_tag("/assets/My_team_2.png")
          %li
            = image_tag("/assets/My_team_3.png")          
  %br
  .row
    %p.font-38
      = content_item('Tour', 'tour_item_2_title')
    %p.font-24.w-680.div-center
      = content_item('Tour', 'tour_item_2_subtitle')
    %br
    %br
    .col-xs-6
      .div-inline.pull-right.tour-slider
        %ul.tour-bxslider
          %li
            = image_tag("/assets/Lead_1.png")
          %li
            = image_tag("/assets/Lead_2.png")
          %li
            = image_tag("/assets/Lead_3.png") 
    .col-xs-6
      .w-550.pull-left.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Net.png', :size => "38x38")
        .col-95-percent.text-left
          .font-20
            %strong.text-blue
              = content_item('Tour', 'tour_item_2a_title')
          .padding-top-10
            = content_item('Tour', 'tour_item_2a_text')
      .w-550.pull-left.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Monitor.png', :size => "38x38")
        .col-95-percent.text-left
          .font-20
            %strong.text-blue
              = content_item('Tour', 'tour_item_2b_title')
          .padding-top-10
            = content_item('Tour', 'tour_item_2b_text')
      .w-550.pull-left.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/File.png', :size => "38x38")
        .col-95-percent.text-left
          .font-20
            %strong.text-blue
              = content_item('Tour', 'tour_item_2c_title')
          .padding-top-10
            = content_item('Tour', 'tour_item_2c_text')

  %br
  .row
    %p.font-38
      = content_item('Tour', 'tour_item_3_title')
    %p.font-24.w-680.div-center
      = content_item('Tour', 'tour_item_3_subtitle')
    %br
    %br
    .col-xs-6
      .w-550.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/User1.png', :size => "38x38")
        .col-95-percent.text-left
          .font-20
            %strong.text-blue
              = content_item('Tour', 'tour_item_3a_title')
          .padding-top-10
            = content_item('Tour', 'tour_item_3a_text')
      .w-550.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Gear.png', :size => "38x38")
        .col-95-percent.text-left
          .font-20
            %strong.text-blue
              = content_item('Tour', 'tour_item_3b_title')
          .padding-top-10
            = content_item('Tour', 'tour_item_3b_text')
      .w-550.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/Lookup.png', :size => "38x38")
        .col-95-percent.text-left
          .font-20
            %strong.text-blue
              = content_item('Tour', 'tour_item_3c_title')
          .padding-top-10
            = content_item('Tour', 'tour_item_3c_text')
    .col-xs-6
      .div-inline.pull-left.tour-slider
        %ul.tour-bxslider
          %li
            = image_tag("/assets/Managed_1.png")
          %li
            = image_tag("/assets/Managed_2.png")
          %li
            = image_tag("/assets/Managed_3.png")      
:javascript
  $('.tour-bxslider').bxSlider({
    controls: false,
    infiniteLoop: false,
    slideWidth: 490,
    adaptiveHeight: true,
  });      
