.tour-box-1.text-center.font-white
  %p.font-38.w-410.div-center
    = t(".tour1")
.tour-box-2.pt-80.text-center
  .row
    %p.font-38
      = t(".tour2")
    %p.font-24.w-680.div-center
      = t(".place_holder")  
    %br
    %br
    .col-xs-6
      .w-500.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent.text-left
          .font-24
            %strong.text-blue
              = t(".place_holder")
          .padding-top-10
            - 10.times do
              = t(".place_holder")
      .w-500.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent.text-left
          .font-24
            %strong.text-blue
              = t(".place_holder")
          .padding-top-10
            - 10.times do
              = t(".place_holder")
      .w-500.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent.text-left
          .font-24
            %strong.text-blue
              = t(".place_holder")
          .padding-top-10
            - 10.times do
              = t(".place_holder")
    .col-xs-6
      %img.pull-left{:src => "/assets/tour11.png"}

  .row
    %p.font-38
      = t(".tour3")
    %p.font-24.w-680.div-center
      = t(".place_holder")  
    %br
    %br
    .col-xs-6
      %img.pull-right{:src => "/assets/tour11.png"}
    .col-xs-6
      .w-500.pull-left.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent.text-left
          .font-24
            %strong.text-blue
              = t(".place_holder")
          .padding-top-10
            - 10.times do
              = t(".place_holder")
      .w-500.pull-left.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent.text-left
          .font-24
            %strong.text-blue
              = t(".place_holder")
          .padding-top-10
            - 10.times do
              = t(".place_holder")
      .w-500.pull-left.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent.text-left
          .font-24
            %strong.text-blue
              = t(".place_holder")
          .padding-top-10
            - 10.times do
              = t(".place_holder")


  .row
    %p.font-38
      = t(".tour4")
    %p.font-24.w-680.div-center
      = t(".place_holder")  
    %br
    %br
    .col-xs-6
      .w-500.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent.text-left
          .font-24
            %strong.text-blue
              = t(".place_holder")
          .padding-top-10
            - 10.times do
              = t(".place_holder")
      .w-500.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent.text-left
          .font-24
            %strong.text-blue
              = t(".place_holder")
          .padding-top-10
            - 10.times do
              = t(".place_holder")
      .w-500.pull-right.mb-40
        .col-5-percent.mt-10
          .col-95-percent.circle-image
            = image_tag('/assets/People.png')
        .col-95-percent.text-left
          .font-24
            %strong.text-blue
              = t(".place_holder")
          .padding-top-10
            - 10.times do
              = t(".place_holder")
    .col-xs-6
      %img.pull-left{:src => "/assets/tour11.png"}      