- if params[:action] != "pricing"  
  .trial-section.text-center
    .font-38.white-text=content_item("Home", "start_trial")
    .font-20.day-text
      %strong=content_item("Home", "trial_period")
    %br
    %br
    =link_to(contact_url, {:class => 'btn main-call' }) do 
      %span.mr-10= image_tag('/assets/Request_Icon.png')
      %strong=content_item("Home", "trial_button_text")
.footer
  %div
    .col-50-percent
      %div
        = image_tag("/assets/FLogo.png", class: 'logo')
        = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe
        .icon-footer.icon-fb
        .icon-footer.icon-tw
        .icon-footer.icon-in
        %br
        .copyright.font-14.mt-10=t('.copyright').html_safe
    .col-50-percent
      %nav
        %ul.nav.ul-footer
          %li{class: active_link("home", params[:controller],params[:action])}
            %a{:href => root_path}= t('.home')
          /%li{class: active_link("testimonials", params[:controller],params[:action])}
          /  %a{:href => testimonials_path}= t('.testimonials')
          %li{class: active_link("tour", params[:controller],params[:action])}
            %a{:href => tour_path}= t('.tour')
          %li{class: active_link("pricing", params[:controller],params[:action])}
            %a{:href => pricing_path}= t('.pricing')
          %li{class: active_link("blog", params[:controller],params[:action])}
            %a{:href => blog_path}= t('.blog')
          %li{class: active_link("contact", params[:controller],params[:action])}
            %a{:href => contact_path}= t('.contact')
          %li{class: active_link("login", params[:controller],params[:action])}
            %a{:href => 'https://app.nujob.co.uk'}= content_item("Footer", "login")
      .pl-115.font-white
        .icon-footer.icon-phone
        %span.mr-45= Constants::TELL
        .icon-footer.icon-email
        %span= Constants::EMAIL
  %i.icon-search.icon-large.icon-white
