- if params[:action] != "pricing"  
  .trial-section.text-center
    .font-38.white-text=t(".start_trial")
    .font-20.day-text
      %strong=t(".60_days")
    %br
    %br
    .request-trial.btn.btn-blue
      %span.mr-10= image_tag('/assets/Request_Icon.png')
      %strong=t(".request_trial")
.footer
  %div
    .col-50-percent
      %div
        = image_tag("/assets/FLogo.png", class: 'logo')
        = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe
        .icon-footer.icon-fb
        .icon-footer.icon-tw
        .icon-footer.icon-in
        %br
        .copyright.font-14.mt-10=t('.copyright').html_safe
    .col-50-percent
      %nav.navbar
        %ul.nav.nav-justified.ul-footer
          %li{class: active_link("home", params[:controller],params[:action])}
            %a{:href => root_path}= t('.home')
          %li{class: active_link("testimonials", params[:controller],params[:action])}
            %a{:href => testimonials_path}= t('.testimonials')
          %li{class: active_link("tour", params[:controller],params[:action])}
            %a{:href => tour_path}= t('.tour')
          %li{class: active_link("pricing", params[:controller],params[:action])}
            %a{:href => pricing_path}= t('.pricing')
          %li{class: active_link("blog", params[:controller],params[:action])}
            %a{:href => blog_path}= t('.blog')
          %li
            %a= t('.contact')
  %i.icon-search.icon-large.icon-white