%nav.navbar.navbar-default.navbar-custom{:role => "navigation"}
  .container-fluid.pl-100
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#header", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %img{:alt => "nujob", :height => "100",:src => "/assets/Logo_D.png", :class=> "pr-200"}
    / Collect the nav links, forms, and other content for toggling
    #header.collapse.navbar-collapse
      %ul.nav.navbar-nav
        #top-blue
        %li{class: active_link("home", params[:controller],params[:action])}
          %a{:href => root_path}= t('.home')

        %li{class: active_link("testimonials", params[:controller],params[:action])}
          %a{:href => testimonials_path}= t('.testimonials')
        %li{class: active_link("tour", params[:controller],params[:action])}
          %a{:href => tour_path}= t('.tour')
        %li{class: active_link("pricing", params[:controller],params[:action])}
          %a{:href => pricing_path}= t('.pricing')
        %li
          %a= t('.blog')
        %li
          %a= t('.contact')  
        %li        
          %button.btn.btn-grey{:type => "submit"}= t('.login')         
:javascript
  moveTopBlue();
