%nav.navbar.navbar-default.navbar-custom{:role => "navigation"}
  .container-fluid.pl-100.font-38
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#header", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{:href => root_path} 
        %img{:alt => "nujob", :height => "100",:src => "/assets/Logo_D.png", :id => "logo" }
    / Collect the nav links, forms, and other content for toggling
    #header.collapse.navbar-collapse.pull-right
      %ul.nav.navbar-nav
        #top-blue
        %li.default-active{class: active_link("home", params[:controller],params[:action])}
          %a{:href => root_path}= content_item("Header", "home_nav")
        %li{class: active_link("testimonials", params[:controller],params[:action])}
          %a{:href => testimonials_path}= content_item("Header", "testimonials_nav")
        %li{class: active_link("tour", params[:controller],params[:action])}
          %a{:href => tour_path}= content_item("Header", "tour_nav")
        %li{class: active_link("blog", params[:controller],params[:action])}
          %a{:href => blogs_path}= content_item("Header", "blog_nav")
        /%li{class: active_link("contact", params[:controller],params[:action])}
        /%a{:href => contact_path}= content_item("Header", "contact_nav")
        %li{:class => 'active_link("pricing", params[:controller],params[:action])'}
          %a{:href => pricing_path, :style => "text-shadow: 0 2px 2px lightgray;"}= content_item("Header", "signup_nav")
        /%li        
        /%button.btn.btn-grey{:type => "submit"}= content_item("Header", "login")    
:javascript
  moveTopBlue();
