%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{name: "google-site-verification", content:"RlFj3VztE9u6kXxA1BNBtHyh5qxxBUJoLWyxuYnBk_4"}
    = metamagic description: 'We make hiring referrals simple. Everyone in your company will want to get involved.' 
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag '/assets/favicon.ico'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:300'
    = render 'layouts/ga' if Rails.env.production? 
    
  .body.container
    = render 'layouts/header'
    = render "layouts/flash_message"
    .main-content
      = yield
    = render 'layouts/footer'
    <!-- Drip -->
    :javascript
      var _dcq = _dcq || [];
      var _dcs = _dcs || {}; 
      _dcs.account = '2749632';

      (function() {
        var dc = document.createElement('script');
        dc.type = 'text/javascript'; dc.async = true; 
        dc.src = '//tag.getdrip.com/2749632.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(dc, s);
      })();
    <!-- Perfect Audience -->
    :javascript
      (function() {
        window._pa = window._pa || {};
        // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
        // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
        // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
        var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
        pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/546f30cc94742552ed00005f.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
      })();  
    <!-- Crazy Egg -->
    :javascript
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/1712.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);

      

